* {
    margin: 0px;
}

body {
    font-size: 1em;
    font-family: "Helvetica";
}

article.page {
    height: auto;
}

section.content{
    margin: auto;
    padding: 1.12em;
    max-width: 56.25em;
}

article footer{
    margin: auto;
    padding: 1.12em;
    max-width: 56.25em;
}

article header{
    color: #5e5e5e;
    margin: auto;
    padding: 1.12em;
    max-width: 56.25em;
}

.home-link:link{
    color: #5e5e5e;
}

.home-link:visited{
    color: #5e5e5e;
}

section.content img {
    align-self: center;
    width: 90%;
    height: auto;
    margin: 0.625em;
}

a {
    text-decoration: none;
}

li {
    word-spacing: 0.1em;
    line-height: 1.5em;
}

.content h1 {
    color: #1c1c1c;
    font-size: 2em;
    margin-bottom: 1em;
}

.content h2{
    color: #1c1c1c;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.content h3{
    color: #1c1c1c;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.content h4{
    color: #1c1c1c;
    font-size: 1em;
    margin-bottom: 0.5em;
}

p {
    word-spacing: 0.1em;
    line-height: 1.5em;
}

.content p{
    margin-bottom: 1.875em;
}

.content pre{
    margin-bottom: 1.875em;
    padding: 1em;
    background-color: #f7f7f7;
    font-size: 1.2em;
    overflow: auto;
}

.center-div{
    margin: auto;
    text-align: center;
}

.small-text{
    font-size: 0.8em;
}

.publish-date{
    font-size: 0.8em;
    color: #515151;
}

blockquote{
    font-size: 1em;
    width:60%;
    margin:2em auto;
    font-style:italic;
    color: #555555;
    padding:1.2em 1.875em 0.5em 4.6875em;
    border-left:8px solid #515151 ;
    line-height:1.6;
    position: relative;
    background:#f7f7f7;
}

blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#515151;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}

blockquote::after{
    content: '';
}

blockquote span::before{
    content: '― ';
}

blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}
